<div class="main-archives">
  <article class="center">
    <% var prevYear %>
    <% page.posts.sort('date', -1).each(function(post) { %>
      <% var year = parseInt(date(post.date, 'YYYY')) %>
      <% if (prevYear !== year) { %>
        <h2 class="center"><%= year %></h2>
        <% prevYear = year %>
      <% } %>

      <section>
        <h3>
          <a href="<%- url_for(post.path) %>">
            <span><%= (post.title.length) > 0 ? post.title : 'no title' %></span>
          </a>
          <time datetime="<%- date_xml(post.date) %>">
            <small><%= date(post.date, 'YYYY-M-D') %></small>
          </time>
        </h3>

      </section>
    <% }) %>
  </article>
  <%- partial('_partials/pagination') %>
</div>

