<div class="main-archives">
  <article class="post-item center">
    <% var prevYear %>
    <% page.posts.sort('date', -1).each(function(post) { %>
      <% var year = parseInt(date(post.date, 'YYYY')) %>
      <% if (prevYear !== year) { %>
        <h2 class="center"><%= year %></h2>
        <% prevYear = year %>
      <% } %>
      <p>
        <a href="<%- url_for(post.path) %>">
          <span><%= post.title %></span>
        </a>
        <br>
        <time>
          <small><%= date(post.date, 'YYYY-M-D') %></small>
        </time>
      </p>
    <% }) %>
  </article>
  <%- partial('_partials/pagination') %>
</div>

