
<div class="main-categories">
  <article>
    <h2><%= page.category %></h2>
    <% page.posts.each(function(cate) { %>
      <section>
        <div class="item">
          <time datetime="<%- date_xml(cate.date) %>">
            <small><%= date(cate.date, 'YYYY-MM-DD') %></small>
          </time>
          <a href="<%- url_for(cate.path) %>">
            <span><%= (cate.title.length) > 0 ? cate.title : 'no title' %></span>
          </a>
        </div>
      </section>
    <% }); %>
  </article>
  <%- partial('_partials/pagination') %>
</div>

