<div class="main-index">
    <% if (page.posts.length > 0) { %>
      <% page.posts.sort('date', -1).limit(10).each(function(post) { %>
        <article>

          <!-- title -->  
          <% if (post.link) { %>
            <a href="<%= post.link %>">
              <h2><%= (post.title.length) > 0 ? post.title : date(post.date, 'YYYYMD')%></h2> 
            </a>        
          <% } else { %>
            <a href="<%- url_for(post.path) %>">
              <h2><%= (post.title.length) > 0 ? post.title : date(post.date, 'YYYYMD')%></h2> 
            </a>                  
          <% } %>
          
          <div class="post-meta">
            <!-- time -->
            <% if (post.date) { %>
              <time datetime="<%= post.date.toJSON() %>">
                <%=date(post.date)%>
              </time>
            <% } %>
            <!-- categories -->
            <% if (post.categories && post.categories.length > 0) { %>
                <% post.categories.forEach(function(cate){ %>
                  <a href="<%- url_for(cate.path)%>">
                    <span><%= cate.name %></span>
                  </a>
                <% }) %>
            <% } %>
          </div>

          <!-- article -->
          <div class="article-entry" itemprop="articleBody">
            <!-- gallery -->
            <%- partial('_partials/gallery', {post: post}) %>

            <!-- excerpt -->
            <% if (post.description && theme.excerpt_description) { %>
              <section class="<%= post.excerpt.length < 200 ? 'center' : '' %>">
                <p><%= post.description %></p>
              </section>
               <!-- && index -->
            <% } else if (post.excerpt){ %> 
              <section class="<%= post.excerpt.length < 200 ? 'center' : '' %>">
                <%- post.excerpt %>
              </section>
              
              <% if (theme.excerpt_link){ %>
                <p class="article-more-link">
                  <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                </p>
              <% } %>
            <!-- content -->
            <% } else { %>
              <%- post.content %>
            <% } %>
          </div>
        </article>
      <% }) %>
    <% } %>

    <%- partial('_partials/pagination')%>
</div>


