<%
  var pageTitle = page.title || config.subtitle || '';
  if (is_home()) pageTitle += config.title;
  if (is_archive()) pageTitle = 'Archives';
  if (is_tag()) pageTitle = 'Tag: ' + page.tag;
  if (is_category()) pageTitle = 'Category: ' + page.category;
  if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
  if (is_year()) pageTitle += ': ' + page.year;
%>
<!DOCTYPE html>
<html lang="<%= config.language %>">

<head>
  <!--[if lte IE 8]>
    <script type="text/javascript">  
        var tags = ["header", "footer", "nav", "aside", "article", "section", "object", "main"];  
        for (var i in tags) {  
            document.createElement(tags[i]);  
        }  
    </script>   
  <![endif]-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <!-- js -->
  <script type="text/javascript" src="<%- url_for('js/jquery-3.3.1.min.js') %>"></script>
  <script type="text/javascript" src="<%- url_for('js/jquery.adaptive-backgrounds.js') %>"></script>
  <!-- css -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
</head>

<body>
  <!-- header -->
  <%- partial('_partials/header') %>
  <!-- main -->
  <main id="main" class="main">
      <%- body %>
  </main>

  <!-- footer -->
  <footer id="footer" class="footer">
    <div id="footer-inner" class="footer-inner">
      <span>Site by <%= config.author %>.</span>
      <span>Powered by <a href="http://hexo.io" rel="nofollow">hexo</a>.</span>
      <span>Theme by <a href="https://github.com/Aaron-Bird/Broadbean" rel="nofollow">Broadbean</a>.</span>
    </div>
  </footer>

  <!-- search -->      
  <% if (theme.local_search) { %>
    <%- partial('_widget/search.ejs') %>
  <% } %>

  <% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
    <% theme.scripts.forEach(function(url) { %>
      <script src="<%= url %>"></script>
    <% }) %>
  <% } %>
</body>
</html>
