<div class="main-tags">
  <article>
    <h1><%= page.tag %></h1>
    <% page.posts.each(function(tag) { %>
      <section>
        <h2>
          <a href="<%=url_for(tag.canonical_path)%>">
            <%= tag.title || 'no title'%>
          </a>
        </h2>
        <time datetime="<%- date_xml(tag.date) %>">
          <small><%- date(tag.date) %></small>
        </time>
      </section>
    <% }) %>
  </article>
  <%- partial('_partials/pagination') %>
</div>
