<div class="main-tags">
  <article>
    <h2><%= page.tag %></h2>
    <% page.posts.each(function(tag) { %>
      <section>
        <h3>
          <a href="<%=url_for(tag.canonical_path)%>">
            <%= tag.title || 'no title'%>
          </a>
          <time datetime="<%- date_xml(tag.date) %>">
            <small><%- date(tag.date) %></small>
          </time>
        </h3>

      </section>
    <% }) %>
  </article>
  <%- partial('_partials/pagination') %>
</div>
